version: "3"

services:
  db:
    container_name: database
    image: postgres:alpine
    restart: on-failure
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB
    ports:
      - 5432:5432
    volumes:
    - ./pgdata:/var/lib/postgresql/data

  bot:
    container_name: bot
    build:
      context: .
    restart: on-failure
    env_file:
      - .env
    environment:
      REDIS_HOST: redis
      POSTGRES_HOST: db
    depends_on:
      - db
